#passwordTip {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

#passwordTip::before {
  border-right: 8px solid rgba(0, 0, 0, 0.25);
}

.rtl #passwordTip::before {
  border-right: 0;
  border-left: 8px solid rgba(0, 0, 0, 0.25);
}

.passwordTip {
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #535050;
}

.rtl .passwordTip {
  padding-left: 0;
  padding-right: 20px;
}

.passwordTip.Title {
  padding-left: 0;
  font-weight: 600;
}

.rtl .passwordTip.Title {
  padding-right: 0;
}

.passwordTip.Off {
  background: url('images/icon-check-off.png') no-repeat left center;
  color: #969696;
}

.passwordTip.On {
  background: url('images/icon-check-on.png') no-repeat left center;
}

.passwordTip.Fail {
  background: url('images/icon-check-fail.png') no-repeat left center;
  color: #d90000;
}

.rtl .passwordTip.Off, .rtl .passwordTip.On, .rtl .passwordTip.Fail {
  background-position: right center;
}


/*

  Password Optional Hint

*/

.passwordOptionalHint {
  position: relative;
  left: 450px;
  bottom: 60px;
  height: 0;
}

.rtl .passwordOptionalHint {
  left: initial;
  right: 450px;
}

.passwordOptionalHint img {
  width: 24px;
  height: 24px;
  margin: 12px;
  cursor: help;
}

.passwordOptionalHint:hover .passwordOptionalHintPopup {
  visibility: visible;
  z-index: 100;
}

.passwordOptionalHint .passwordOptionalHintPopup {
  visibility: hidden;
  position: relative;
  bottom: 160px;
  right: 121px;
  width: 290px;
  height: 110px;
  color: #313336;
  font-size: 16px;
  padding: 16px;
  background-color: #ffffff;
  filter: drop-shadow(0 0 5px rgba(0,0,0,.25));
  border: 1px solid lightgrey;
}

.rtl .passwordOptionalHint .passwordOptionalHintPopup {
  right: initial;
  left: 121px;
}

.passwordOptionalHint .passwordOptionalHintPopup:after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top-color: #ffffff;
}

.passwordOptionalHintHeader {
  font-weight: 600;
  margin-bottom: 10px;
}