.page-banner {
    height: 330px;
    width: 100%;
    background-size: cover;
    background-position: 50% 0;
}

.page-body {
    background: white;
    max-width: 965px;
    min-height: 650px;
    margin: 23px auto;
    padding: 32px 40px;
}

.page-body.page-unpadded {
    padding: 0;
}

