.practiceHeader {
    background: url('../images/banners/providers-in-hospital.png') no-repeat;
    background-size: cover;
    height: 430px;
    padding-top: 194px;
    padding-left: 520px;
}

.practiceDetails {
    width: 447px;
    min-height: 206px;
    background-color: #FFF;
    margin: 0 auto;
    padding: 24px;
}

.practiceLogo {
    text-align: center;
    margin: 0 auto;
}

.practiceWelcome {
    margin-top: 10px;
    font-size: 14px;
}

.practiceWelcome a {
    color: #e49613 !important;
    cursor: pointer !important;
}

.practiceBody {
    background-color: rgb(255,255,255);
    padding: 0 0 40px 0;
    width: 965px;
    margin: 30px auto;
}

.practiceTitle {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.3px;
    margin-left: 40px;
}

.rtl .practiceTitle {
    margin-right: 50px;
}

.practiceGrid {
    padding-top: 40px;
}
