.appointmentScheduledModal .modal-content {
    border: unset;
    border-radius: unset;
}

.rtl.appointmentScheduledModal .modal-content {
    text-align: right;
}

.appointmentScheduledModal .modal-content div {
    padding: 0 40px;
}

.appointmentScheduledModal .scheduledHeader {
    height: 90px;
    width: 100%;
    background-color: #00bcd4;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-family: "Open Sans Extrabold", sans-serif;
    margin-bottom: 20px;
}

.appointmentScheduledModal .scheduledBody {
    font-size: 18px;
    font-weight: bolder;
    color: #535050;
}

.appointmentScheduledModal button {
    font-size: 24px;
    color: #ffffff;
    font-weight: bolder;
    width: 190px;
    height: 50px;
    background-color: #efa825;
    border: unset;
    cursor: pointer;
    margin: 50px auto;
}

.appointmentScheduledModal button:hover {
    color: #ffffff;
    background-color: #efa825;
    opacity: .5;
}